services:
  mongodb:
    image: JoveraiTs/mongodb:6
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: JoveraiTs/redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis-data:/data

  backend:
    image: JoveraiTs/real-estate-backend:latest
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongodb
      - redis

  nginx:
    image: JoveraiTs/nginx:latest
    container_name: nginx
    ports:
      - "8081:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  email-worker:
    image: JoveraiTs/real-estate-email-worker:latest
    container_name: email-worker
    restart: always
    command: npm run worker
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - backend
      - mongodb
      - redis

  frontend:
    image: JoveraiTs/real-estate-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  tenant-website:
    image: node:20-alpine
    container_name: tenant-website
    working_dir: /app
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://backend:8080
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./tenant-website-next:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- -p 3000"
    depends_on:
      - backend

volumes:
  mongo-data:
  redis-data: